body {
    font-family: Arial, sans-serif;
    background: #f2efe9;
    margin: 0;
}

header {
    background: #2b2b2b;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #3b3b3b;
    padding: 10px;
    text-align: center;
}

nav button, .cart-btn {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cart-btn {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: #7a4f2a;
}

.card button {
    margin-top: 10px;
    padding: 6px 10px;
}

#cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    box-shadow: -2px 0 8px rgba(0,0,0,0.3);
    display: none;
}

#cart ul {
    list-style: none;
    padding: 0;
}

.total {
    font-weight: bold;
    margin-top: 15px;
}

nav input {
    padding: 7px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
}


.stock {
    font-size: 0.9em;
    margin: 5px 0;
}

select.quantity {
    margin-top: 5px;
    padding: 4px;
}
